.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px; /* Button height */
  line-height: 32px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 32px; /* Button width */
}
.follow-me li a:hover::before {
  background-color: #333;
  color: #fff;
}
.follow-me li a[href*="amazon.co.jp"]::before,
.follow-me li a[href*="amazon.com"]::before         { content: "\f270"; }
.follow-me li a[href*="codepen.io"]::before         { content: "\f1cb"; }
.follow-me li a[href*="delicious.com"]::before      { content: "\f1a5"; }
.follow-me li a[href*="deviantart.com"]::before     { content: "\f1bd"; }
.follow-me li a[href*="digg.com"]::before           { content: "\f1a6"; }
.follow-me li a[href*="dribble.com"]::before        { content: "\f17d"; }
.follow-me li a[href*="dropbox.com"]::before        { content: "\f16b"; }
.follow-me li a[href*="facebook.com"]::before       { content: "\f09a"; }
.follow-me li a[href*="feedly.com"]::before         { content: "\f09e"; }
.follow-me li a[href*="flickr.com"]::before         { content: "\f16e"; }
.follow-me li a[href*="foursquare.com"]::before     { content: "\f180"; }
.follow-me li a[href*="github.com"]::before         { content: "\f09b"; }
.follow-me li a[href*="plus.google.com"]::before    { content: "\f0d5"; }
.follow-me li a[href*="b.hatena.ne.jp"]::before     { content: "\f027"; font-family: blogicon; }
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
.follow-me li a[href*="last.fm"]::before            { content: "\f202"; }
.follow-me li a[href*="linkedin.com"]::before       { content: "\f0e1"; }
.follow-me li a[href*="nicovideo.jp"]::before       { content: "\f047"; font-family: blogicon; }
.follow-me li a[href*="pinterest.com"]::before      { content: "\f0d2"; }
.follow-me li a[href*="getpocket.com"]::before      { content: "\f265"; }
.follow-me li a[href*="reddit.com"]::before         { content: "\f1a1"; }
.follow-me li a[href*="skype.com"]::before,
.follow-me li a[href*="skype:"]::before             { content: "\f17e"; }
.follow-me li a[href*="slideshare.net"]::before     { content: "\f1e7"; }
.follow-me li a[href*="spotify.com"]::before        { content: "\f1bc"; }
.follow-me li a[href*="steamcommunity.com"]::before { content: "\f1b6"; }
.follow-me li a[href*="stumbleupon.com"]::before    { content: "\f1a4"; }
.follow-me li a[href*="tumblr.com"]::before         { content: "\f173"; }
.follow-me li a[href*="twitch.tv"]::before          { content: "\f1e8"; }
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }
.follow-me li a[href*="vimeo.com"]::before          { content: "\f27d"; }
.follow-me li a[href*="vine.co"]::before            { content: "\f1ca"; }
.follow-me li a[href*="weibo.com"]::before          { content: "\f18a"; }
.follow-me li a[href*="whatsapp.com"]::before       { content: "\f232"; }
.follow-me li a[href*="wordpress.com"]::before,
.follow-me li a[href*="wordpress.org"]::before      { content: "\f19a"; }
.follow-me li a[href*="youtube.com"]::before        { content: "\f16a"; }
.follow-me li a[href$="/feed"]::before              { content: "\f09e"; }
.follow-me li a[href$="/subscribe"]::before         { content: "\f000"; font-family: blogicon; }