
html{
  font-size: 16px;
}

body
{
  font-family: MinecraftiaRegular;
}

h2
{
  font-weight: 200;
  font-size: 2rem;
  margin: 10px;
}

h3
{
  font-weight: 100;
  font-size: 1.5rem;
  margin: 10px;
}

.icon{
  background:none;
  color: #888;
  font-size: 1.5rem;
}

.inputtext{
  font-family: MinecraftiaRegular;
  border: none;
  font-size: 1.2rem;
  display: block;
  &.narrow{
    width:10%
  }
}

.dp1{
  border-radius: 3px;
  padding: 5px;
  background-color: #eee;
}

.dp2{
  border-radius: 3px;
  padding: 5px;
  background-color: #ddd;
}

.inner{
  margin: 10px;
}

.column{
  display: flex;
  vertical-align:middle;
}

@media(max-width:991px)
{
  html{
    font-size: 150%;
  }

  .maingrid
  {
    grid-template-columns: 1fr;
  }
  .maingrid .button_editor
  {
    height: 70vh;
    grid-column-start: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    font-size: 50px;
  }
}
