
html{
  font-size: calc(75% + 0.3vw);
}

body
{
  font-family: MinecraftiaRegular;
}

h1
{
  font-weight: 200;
  font-size: 2rem;
  color:white;
}

h2
{
  font-weight: 200;
  font-size: 1.7rem;
  padding: 10px;
}

.h3,
h3
{
  font-weight: 100;
  font-size: 1.5rem;
}

.h4,
h4
{
  padding: 0 5px;
  font-weight: 100;
  font-size: 1.2rem;
}

.icon{
  background:none;
  color: #888;
  font-size: 1.5rem;
}

.inputtext{
  font-family: MinecraftiaRegular;
  border: none;
  font-size: 1.2rem;
  display: block;
  &.narrow{
    width:20%;
  }
  &.max{
    width:100%;
    box-sizing:"border-box";
  }
  &.r{
    text-align: center;
  }
  &[readonly]{
    background-color:#000;
  }
}

.dp1{
  border-radius: 3px;
  padding: 15px;
  background-color: #eee;
  box-sizing: border-box;
}

.dp2{
  border-radius: 3px;
  padding: 5px;
  background-color: #ddd;
  box-sizing: border-box;
}

.ml10{
  margin-left: 10 ;
}

.column{
  padding: 5px 0;
  display: flex;
  align-items: baseline;
}

.block{
  display: block;
}