$breakpoint-md: 768px !default;

@mixin md{
  @media only screen and (max-width: $breakpoint-md ) {
    @content;
  }
}

.l{
  display: grid;
  height: 100vh;
  grid-template-columns: 4fr 3fr;
  grid-template-rows:max-content max-content auto max-content;
  grid-template-areas:
    "header header"
    "sign area"
    "util area"
    "footer footer";

  @media only screen and (max-width: 768px) {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows:max-content max-content auto max-content max-content;
    grid-template-areas:
      "header"
      "sign"
      "area"
      "util"
      "footer";
  }
}

.l-header{
  grid-area: header;
}

.l-sign{
  height: auto;
  display: grid;
  margin-left: 10px;
  @include md(){
    margin-left: 0px;
  }

  grid-template-rows: auto auto;
}

.l-signText{
  margin: 10px;
}

.l-signImg{
  margin: 10px;
}

.l-area{
  grid-area: area;
  display: grid;
  margin-right: 10px;
  grid-template-rows: max-content 1fr;
  @include md(){
    margin-right: 0px;
  }
}
  .l-areaEdit{
    margin: 10px;
  }

  .l-areaList{
    margin: 10px;
  }
  
.l-util{
  margin: 10px;
  margin-left: 20px;
  grid-area: util;
  @include md(){
    margin-left: 10px;
  }
}

.l-footer{
  grid-area: footer;
}
